@import "tailwindcss";

.page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}